to_do/
build/
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
.gradle/
local.properties
proguard/
*.log
.navigation/
captures/
*.iml
.idea/workspace.xml
.idea/libraries
gen-external-apklibs
.DS_Store
outtakes/
C64WatchFace/Grafiken/
